.notification-container {
  position: relative;
}

.notification-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  min-width: 200px;
  background-color: #ef1f1f;
  border: 1px solid #6c1b1b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: none; /* Hide by default */
}

.notification-item {
  margin-bottom: 10px;
  background-color: #792f2f;
  color: #fff;
}

.notification-actions {
  margin-top: 10px;
}

.notification-bell:focus + .notification-dropdown {
  display: block; /* Show dropdown when bell icon is focused */
}