.notification-item,
.post-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.notification-content,
.details {
  background-color: #f5f5f5;
  margin-right: 10px;
  padding: 10px;
}

.notification-content p,
.details p {
  margin: 5px 0;
}

.notification-title {
  font-size: 1.2em;
  font-weight: bold;
}

.recurring {
  background-color: #ffa600;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
}

.available {
  background-color: #59c359;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
}

.not-available {
  background-color: #d9534f;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
}

.published {
  background-color: #3eb83e;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
}

.awaiting-approval {
  background-color: #d5cb3e;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
}

.button-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

.button-column {
  width: 100px; /* Adjust width as needed */
  padding: 0;
}

.button-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.button-actions .btn {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 4px;

}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; 
}