<div class="home_container">
  <%= image_pack_tag 'images/tuoslogo.png', alt: 'TUOS Logo', class: 'logo' %>
  <h1 class="home_heading">COM Opportunities Hub</h1>
  <h2 class="home_heading">University of Sheffield</h2>
  <p class="home_paragraph">Welcome to the COM Opportunities Hub. Here you can post and find various opportunities, and events for students, alumni, staff, and researchers in the department of Computer Science at the University of Sheffield.</p>
  <div id="opportunities">
    <h2 class="section_heading">COM Founders Club</h2>
    <p class="home_paragraph">If you are a current student, alumni, staff, or researcher interested in starting or joining an enterprise, please check out the COM Founders Club. External (industry) members are also welcome.</p>
    <a href="https://sites.google.com/sheffield.ac.uk/comfoundersclub/home" class="link">Learn more about the COM Founders Club</a>

    <h2 class="section_heading">Slack Community</h2>
    <p class="home_paragraph">Join our Slack channel to collaborate with others, post opportunities, share ideas, or simply chat with fellow members.</p>
    <a href="https://uoscomopps.slack.com/join/shared_invite/zt-vw3jqiuq-LX2SOfVrf9TwHUqMJHDsCA#/shared-invite/email" class="link">Join our Slack Community</a>

    <h2 class="section_heading">Help</h2>
    <p class="home_paragraph">If you need assistance, please feel free to contact Andy Stratton, COM Opportunities Hub coordinator.</p>
    <p class="home_paragraph">Contact Andy through Slack or email at <a href="mailto:A.Stratton@sheffield.ac.uk" class="link">A.Stratton@sheffield.ac.uk</a>.</p>
  </div>
</div>